body {
    background: #fffff8;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin: 20px 0;
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 80%;
    max-width: 600px;
    color: black;
    font-size: 20px;
}

.holder {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.label,
.title {
    font-size: 27px;
    margin-bottom: 10px;
}

input,
textarea,
button {
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 8px;
    margin: 10px 0;
}

input {
    height: 40px;
    width: 100%;
    background: #22b2da;
    font-size: 20px;
}

textarea {
    width: 100%;
    background: #22b2da;
    font-size: 20px;
}

button {
    width: 100%;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}

button:hover {
    background: #2a3650;
}

#entryHolder {
    width: 100%;
}

#date,
#temp,
#content {
    margin: 10px 0;
}

input:focus,
textarea:focus {
    outline: none;
}